{% extends "ActivityEvents/layout.html" %}
{% load static %}
{% block body %}
<style>
.content{
    border-radius: 50%;
  position: absolute;
  inset: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content::before{
  content: '';
  position: absolute;
  inset: 40px;
  border: 4px solid transparent;
  border-left: 4px solid #71B3F1;
  border-right: 4px solid #e2e2e2;
  border-radius: 50%;
  animation: animationcontent 5s linear infinite;
  z-index: 1;
  pointer-events: none;

}
@keyframes animationcontent {
  0%{
    rotate: 0deg;
  }
  100%{
    rotate: 360deg;
  }
}






#buttonwrapper {

  width: 100%;
  height: 100%;
font-size:21px;
letter-spacing:6px;
color:white;
overflow: visible;
margin-top: 1rem;
}

.submit, .loader, .loader-wrapper{
position:absolute;
}

.submit {
z-index:2;

background: #66b5ff; 
display:block;
border-radius: 15rem;

text-align:center;
color:rgba(255,255,255,1);
text-decoration:none;
transition: all 0.5s ease, line-height 0s ease, color 0.4s ease, filter 0.2s ease;
}

#buttonwrapper::selection, .submit::selection {
background: transparent;
}




.submit:before {
content:"";
z-index:-2;
width:100%;
height:100%;
background: #66b5ff; 
display:block;
border-radius:50%;
position:absolute;
left:0;
top:0;
opacity:0.8;
transform:scale(0.9) translateY(15px);
filter:blur(45px);
transition:all 0.2s ease;
}

.submit:after {
content:"";
z-index:-4;
width:100%;
height:100%;
background: #66b5ff; 
display:block;
border-radius:50%;
position:absolute;
left:0;
top:0;
opacity:0;
transform:scale(1);
}

.submit:hover:before {
transform:scale(0.9) translateY(5px);
filter:blur(40px);
}

.submit:active {
line-height:460%;
filter:brightness(0.95);
transition:all 0s;
}

.checked .submit:before {
top:0px;
opacity:0;
}

.checked .submit:after {
  animation: submit-after-anim 0.5s 2.4s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.checked {
 -webkit-filter: url("#goo");
 filter: url("#goo");
}

.white {
background-color: #ffffff;
box-shadow: 40px 47px 49px 40px rgba(0, 0, 0, 0.1);
}

.blue {
background-color: #0084ff;
}

.blue2 {
background-color: #7aa5cd;
box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.1);
transform:scale(0.2) rotate(30deg) translate(0px);
}

.checked .blue {
animation: loader-anim-blue 2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.checked .white  {
animation: loader-anim-white 2s 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.checked .blue2 {
 animation: loader-anim-blue2 2s 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loader {
width:95px;
height:95px;
border-radius:50%;
opacity:0;
z-index:1;
}

.checked .loader {
opacity:1;
}

.checked .loader-wrapper {
animation: wrapper-loader-anim 2.2s linear;
width:95px;
height:95px;
border-radius:50%;
transform:scale(0)
}

.checked .submit {
height:70px;
width:70px;
border-radius: 50%;
color:rgba(255,255,255,0);
background: #66b5ff;
animation: submit-anim 2s  cubic-bezier(0.39, 0.575, 0.565, 1);
}


.check-wrapper {
position:absolute;
left:0;
right:0;
margin:0 auto;
width:95px;
height:95px;
z-index:-1;
opacity:1;
}

.check-wrapper svg {
margin-top:20px;
margin-left: 24px;
}

.check{fill:none;
stroke:#ffffff;
stroke-width:10;
stroke-linecap:round;
stroke-linejoin:round;
stroke-miterlimit:10;
stroke-dasharray: 1000;
stroke-dashoffset: 1000;
z-index:-1;
}

.checked .check-wrapper {
z-index:3;
}

.checked .check {
animation: check 2s 2.2s ease forwards;
}


@keyframes loader-anim-blue {
  0% {transform:scale(0.2) rotate(0deg) translate(220px, 0px); }
100% {transform:scale(0.2) rotate(1100deg) translate(300px, 0px);}
}

@keyframes loader-anim-white {
   0% {transform:scale(0.2) rotate(0deg) translate(300px, 0px); }
100% {transform:scale(0.2) rotate(1100deg) translate(220px, 0px);}
}

@keyframes loader-anim-blue2 {
0%,70% {transform:scale(0.2) rotate(30deg) translate(0px); }
85% {transform:scale(0.2) rotate(30deg) translate(-300px);}
100% {transform:scale(0.2) rotate(30deg) translate(0px); }
}

@keyframes wrapper-loader-anim {
  0% { transform: scale(0) translateY(0px); }
  10% { transform: scale(1) translateY(20px); }
  50% { transform: scale(1.2) translateY(10px); }
  90% { transform: scale(1) translateY(-10px); }
  100% { transform: scale(0) translateY(0px); }
}

@keyframes submit-after-anim {
0% {transform:scale(1); opacity:0.3 }
 100% {transform:scale(2); opacity:0 }
}

@keyframes submit-anim {
  0% {transform:scale(1) }
    5%, 95% {transform:scale(0.7) }
100% {transform:scale(1)}
}

@keyframes check {
from {
  stroke-dashoffset: 1000;
}
to {
  stroke-dashoffset: 0;
}
}



</style>
<section class="relative w-[99%] mx-auto flex flex-col justify-center items-center">
    
        <section class="xl:h-[30rem] lg:h-[37rem] md:h-[31rem] min-[320px]:h-[10rem]  w-full">
           <img class="w-full h-full " src="{% static 'ActivityEvents/details_image_page.jpg'%}" alt="">
        </section>

    <h1 class="mt-[4rem]  xl:text-5xl lg:text-4xl md:text-3xl min-[320px]:text-2xl font-medium text-[#50A8F5]">{{event.title}}</h1>
    
    <section class="pt-3 w-[99%]   xl:h-[28rem] lg:h-[26rem] md:h-[22rem] min-[320px]:h-[12rem]  flex flex-col justify-center items-center">
        <div class="w-full h-full flex justify-first items-first">
            <div class="xl:w-[5.5rem] xl:h-[5.5rem] lg:w-[5rem] lg:h-[5rem] md:w-[4.5rem] md:h-[4.5rem] min-[320px]:w-[2rem] min-[320px]:h-[2rem] bg-[#E8F5FF]  drop-shadow-xl shadow-[#BABDC2] shadow-sm  rounded-[0.3rem]  relative">
                <div class="xl:w-[5.5rem] xl:h-[5rem] lg:w-[5rem] lg:h-[5rem] md:w-[4.5rem] md:h-[4.5rem] min-[320px]:w-[2rem] min-[320px]:h-[2rem] bg-white  absolute mt-[1.5rem]  rounded-[0.3rem] left-[1rem] drop-shadow-md  "></div>
            </div>
</div>
        <div class="xl:w-[65rem] xl:h-[30rem] lg:w-[60rem] lg:h-[28rem] md:w-[55rem] md:h-[25rem] min-[320px]:w-[25rem] min-[320px]:h-[15rem] flex flex-row justify-center items-center relative ">
   

            <div class="content xl:w-[29rem] xl:h-[29rem] lg:w-[27rem] lg:h-[27rem] md:w-[25rem] md:h-[25rem] min-[320px]:w-[13rem] min-[320px]:h-[13rem] xl:ml-[4rem] lg:ml-[4rem] md:ml-[4rem] min-[320px]:ml-[1rem] ">
        
                <div class=" xl:w-[22rem] xl:h-[22rem] lg:w-[20rem] lg:h-[20rem] md:w-[17rem] md:h-[17rem]  min-[320px]:w-[7rem] min-[320px]:h-[7rem] rounded-full  ">
                    <img class="w-full h-full rounded-full object-cover" src="{% static 'ActivityEvents/details_image_page.jpg'%}" alt="">
                </div>
          
          
            </div>

            <div id="post-1" class="xl:w-[19rem] xl:h-[23rem] lg:w-[17rem]  lg:h-[21rem] md:w-[15rem]  md:h-[19rem] min-[320px]:w-[10rem]  min-[320px]:h-[14rem]   bg-[#E8F5FF] rounded-xl shadow-md overflow-hidden xl:mt-[3rem] lg:mt-[3rem] md:mt-[2.5rem]  shadow-sky-200 xl:ml-[25rem] lg:ml-[25rem] md:ml-[25rem] min-[320px]:ml-[8.5rem] ">
                  <div class="p-[0.3 rem] ml-[0.5rem] h-full w-full xl:mt-[1rem] lg:mt-[1rem] md:mt-[0.7rem] min-[320px]:mt-[0.2rem]">
                    <h1 class="  text-indigo-500  text-stone-900 text-black-900 italic xl:text-2xl lg:text-xl md:text-lg min-[320px]:text-md  mt-[0.5rem] font-medium">DATE AND TIME</h1>
                    <p class=" xl:text-xl lg:text-lg md:text-md min-[320px]:text-sm leading-tight text-slate-800 mt-1">{{event.event_date}} </p>
                    <h1 class=" xl:text-2xl lg:text-xl md:text-lg min-[320px]:text-md   text-indigo-500  text-stone-900 text-black-900 xl:text-2xl lg:text-xl md:text-lg italic  mt-[1rem] font-medium">LOCATION</h1>
                    <p class=" mt-1 xl:text-xl lg:text-lg md:text-md min-[320px]:text-sm leading-tight text-slate-800 mt-[0.5rem]">{{event.location}}</p>
                    <h1 class="  text-indigo-500  text-stone-900 text-black-900 xl:text-2xl lg:text-xl md:text-lg min-[320px]:text-md italic  mt-[1rem] font-medium">Speakers</h1>
                    <p class=" mt-1 xl:text-xl lg:text-lg md:text-md min-[320px]:text-sm leading-tight text-slate-800 mt-[0.5rem]">“names of the speakers”</p>
            
                  </div>
                  
              </div> 
        </div>
          <!--

          <div class="w-[35rem] h-[15rem] max-w-md mx-auto bg-[#E8F5FF] rounded-xl shadow-md overflow-hidden md:max-w-2xl   shadow-sky-400">
              <div class="p-8">
                <div class="uppercase tracking-wide text-sm font-semibold text-black-900">type somthing here</div>
                <p class="mt-2 text-slate-500 text-xl text-left mt-3 italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad </p>
              </div>
          </div>

          -->

        
    </section>
    
    
    <section class="section-2  pt-3 w-[99%] xl:h-[30rem] lg:h-[28rem] md:h-[25rem] mt-[3rem] flex flex-col justify-center items-center ">
        <h1 class="mt-[3rem] mb-[1rem] xl:text-5xl lg:text-4xl md:text-3xl min-[320px]:text-2xl  font-medium text-[#50A8F5]">Event Description</h1>




    
<div class="xl:w-[65rem] xl:h-[25rem] lg:w-[60rem] lg:h-[23rem] md:w-[30rem] md:h-[12em] min-[320px]:w-[18rem] min-[320px]:h-[25rem] flex xl:flex-row lg:flex-row md:flex-col-reverse min-[320px]:flex-col-reverse justify-end items-center">
        <div id="post-1" class="xl:w-[40rem] xl:h-[20rem] lg:w-[35rem] lg:h-[18rem] md:w-[33rem] md:h-[17.5rem]  min-[320px]:w-[18rem]  min-[320px]:h-[18rem] max-w-md  flex flex-row justify-center items-center bg-[#E8F5FF] rounded-xl shadow-md overflow-hidden md:max-w-2xl  xl:p-3 lg:p-3 md:p-1 min-[320px]:p-[0.1rem]  shadow-sky-400">
                  <div class="p-2 w-full h-full">
                    <h1 class="uppercase tracking-wide text-sm text-indigo-500 text-stone-900 text-black-500 italic xl:text-xl lg:text-lg md:text-lg mb-2 ml-4 underline decoration-solid underline decoration-sky-500">Description</h1>
                    <p class="block mt-1 leading-tight text-[#6E8292] xl:text-xl lg:text-lg md:text-md  italic">{{event.description}}</p>
                  </div>   
    
              </div>


<img class="xl:w-[25rem] xl:h-[25rem] lg:w-[23rem] lg:h-[23rem] md:w-[21rem] md:h-[21rem] min-[320px]:w-[11rem] min-[320px]:h-[11rem]" src="{% static 'ActivityEvents/Readinglistcuate.png' %}" alt="">

</div>

    </section>

    <section class="pt-3 w-[99%] xl:h-[65rem] lg:h-[45rem] md:h-[65rem] min-[320px]:h-[50rem] mt-[7rem] mb-[7rem] flex flex-col justify-center items-center">

        <h1 class="xl:mt-[3rem] lg:mt-[2.7rem] md:mt-[1.2rem] min-[320px]::mt-[0rem] xl:mb-[1rem] lg:mb-[1rem] md:mb-[0.6rem] min-[320px] :mb-[0.6rem] xl:text-5xl lg:text-4xl md:text-3xl min-[320px]:text-2xl font-medium text-[#50A8F5]">What our events provides</h1>
        <div class="xl:w-[65rem] xl:h-[27.5rem] lg:w-[60rem] lg:h-[25.5rem] md:w-[50rem] md:h-[35rem] min-[320px]:w-[19rem] min-[320px]:h-[35rem] grid xl:grid-cols-2 xl:grid-rows-2 lg:grid-cols-2 lg:grid-rows-2 md:grid-cols-0 md:grid-rows-4 min-[320px]:grid-cols-0 min-[320px]:grid-rows-4 xl:gap-[7rem] lg:gap-[3rem] md:gap-[3rem] min-[320px]:gap-[2rem] xl:mt-[5rem] lg:mt-[4.5rem] md:mt-[2rem] min-[320px]:mt-[1.5rem]">
                      <div class="xl:w-[30rem] xl:h-[21rem] lg:w-[28rem] lg:h-[20rem] md:w-[39rem] md:h-[12rem] min-[320px]:w-[18.4rem] min-[320px]:h-[10rem] xl:mt-[7rem] lg:mt-[5rem] md:mt-[1rem] min-[320px]:mt-[1rem] mb-[1rem]  max-w-md mx-auto bg-[#E8F5FF] rounded-xl shadow-md overflow-hidden md:max-w-2xl shadow-lg  shadow-sky-400">
                          <div class="p-2 w-full flex flex-col justify-center items-center">
                            <h1 class="xl:text-lg lg:text-lg md:text-md font-medium">Networking community</h1>
                            <p class="mt-2 text-[#6E8292] text-sm text-left italic">Create opportunities for you to network with instoctors, mentors, alumni, software companies, you never know which connections will end up being valuable to your career going forward.</p>
                            <img class="xl:w-[15rem] xl:h-[15rem] lg:w-[13rem] lg:h-[13rem] md:w-[10rem] md:h-[10rem] min-[320px]:w-[9rem] min-[320px]:h-[15rem] lg:block xl:block
                             md:hidden min-[320px]:hidden " src="{% static 'ActivityEvents/Teamspiritcuate.png' %}" alt="">
        
                          </div>
                      </div>
                      <div class="xl:w-[30rem] xl:h-[21rem] lg:w-[28rem] lg:h-[20rem] md:w-[39rem] md:h-[12rem] min-[320px]:w-[18.4rem] min-[320px]:h-[10rem] xl:mt-[7rem] lg:mt-[4rem] md:mt-[6rem] min-[320px]:mt-[3rem] mb-[3rem]  max-w-md mx-auto bg-[#E8F5FF] rounded-xl shadow-md overflow-hidden md:max-w-2xl shadow-lg  shadow-sky-400">
                        <div class="p-2 w-full flex flex-col justify-center items-center">
                          <h1 class="xl:text-lg lg:text-lg md:text-md font-medium">Technical mentor support</h1>
                          <p class="mt-2 text-[#6E8292] text-sm text-left italic">Guide your learning by experinced traniners or 1:1 mentoring to answer your question and keep you on track.</p>
                          <img class="xl:w-[15rem] xl:h-[15rem] lg:w-[13rem] lg:h-[13rem] md:w-[10rem] md:h-[10rem] min-[320px]:w-[9rem] min-[320px]:h-[15rem] lg:block xl:block  md:hidden min-[320px]:hidden" src="{% static 'ActivityEvents/ActiveSupportrafiki.png' %}" alt="">
        
                        </div>
                    </div>
                    <div class="xl:w-[30rem] xl:h-[21rem] lg:w-[28rem] lg:h-[20rem] md:w-[39rem] md:h-[12rem] min-[320px]:w-[18.4rem] min-[320px]:h-[10rem] xl:mt-[14rem] lg:mt-[5rem] md:mt-[10rem] min-[320px]:mt-[5rem] mb-[1rem] max-w-md mx-auto bg-[#E8F5FF] rounded-xl shadow-md overflow-hidden md:max-w-2xl shadow-lg  shadow-sky-400">
                        <div class="p-2 w-full flex flex-col justify-center items-center">
                          <h1 class="xl:text-lg lg:text-lg md:text-md font-medium">Career services</h1>
                          <p class="mt-2 text-[#6E8292] text-sm text-left italic">Advance your career by getting internship and job opportunities in the best software Iraqi companies.</p>
                          <img class="xl:w-[15rem] xl:h-[15rem] lg:w-[13rem] lg:h-[13rem] md:w-[10rem] md:h-[10rem] min-[320px]:w-[9rem] min-[320px]:h-[15rem] lg:block xl:block  md:hidden min-[320px]:hidden" src="{% static 'ActivityEvents/Resumebro.png' %}" alt="">
        
                        </div>
                    </div>
                    <div class="xl:w-[30rem] xl:h-[21rem] lg:w-[28rem] lg:h-[20rem] md:w-[39rem] md:h-[12rem] min-[320px]:w-[18.4rem] min-[320px]:h-[10rem] xl:mt-[14rem] lg:mt-[5rem] md:mt-[14rem] min-[320px]:mt-[7rem]  max-w-md mx-auto bg-[#E8F5FF] rounded-xl shadow-md overflow-hidden md:max-w-2xl shadow-lg  shadow-sky-400">
                        <div class="p-2 w-full flex flex-col justify-center items-center">
                          <h1 class="xl:text-lg lg:text-lg md:text-md font-medium">Gamification of learning</h1>
                          <p class="mt-2 text-[#6E8292] text-sm text-left italic">Maximize your enjoyment and engagement through gamification techniques to motivate you by using game elements in learning environments</p>
                          <img class="xl:w-[15rem] xl:h-[15rem] lg:w-[13rem] lg:h-[13rem] md:w-[10rem] md:h-[10rem] min-[320px]:w-[9rem] min-[320px]:h-[15rem] lg:block xl:block  md:hidden min-[320px]:hidden" src="{% static 'ActivityEvents/Knowledgecuate.png' %}" alt="">
        
                        </div>
                    </div>
        
        
        </div>
    </section>
   
    <section class="pt-3 w-[99%] xl:h-[40rem] lg:h-[35rem] lg:h-[30rem] mt-[5rem] mb-[5rem] flex flex-col justify-center items-center">
        <h1 class="xl:mt-[3rem] lg:mt-[2.7rem] md:mt-[1.2rem] min-[320px]:mt-[0rem] xl:mb-[1rem] lg:mb-[1rem] md:mb-[0.6rem] min-[320px] :mb-[0.6rem] xl:text-5xl lg:text-4xl md:text-3xl min-[320px]:text-2xl font-medium text-[#50A8F5]">Event Registraiton</h1>
        <h1 class=" xl:text-2xl lg:text-2xl md:text-xl  mb-7 italic  text-stone-700 mt-[1rem] ">Register for the {{event.title}}</h1>       
      <div class="xl:w-[65rem] xl:h-[30rem] lg:w-[60rem] lg:h-[27rem] md:w-[47rem] md:h-[24rem]   min-[320px]:w-[19rem] min-[320px]:h-[24rem] flex xl:flex-row lg:flex-row md:flex-col min-[320px]:flex-col justify-center items-center bg-[#E8F5FF] rounded-xl shadow-md mb-3  shadow-sky-400">
          <div class="p-[0.3rem] xl:w-[30rem] xl:h-[30rem] lg:w-[28rem] md:w-[24rem] md:h-[24rem] min-[320px]:w-[19rem] min-[320px]:h-[12rem]  flex flex-col items-center">
            <p class="mt-2 text-slate-500 xl:text-xl lg:text-lg md:text-md min-[320px]:text-sm bg text-left xl:mt-3 lg:mt-3 md:mt-3 min-[320px]:mt-0 italic text-center">Join us and register for our events to receive the latest updates!</p>
            <button type="button" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-lg xl:px-[3.5rem] xl:py-[1rem] lg:px-[3.2rem] lg:py-[1rem] md:px-[2rem] md:py-[0.9rem] min-[320px]:py-[0.9rem]  text-center  mb-2 mt-2"><a class="text-[1.4rem]" href="{% url 'registrations' %}">Registeraion</a></button>
          </div>
          <img class="xl:w-[30rem] lg:w-[26rem] md:w-[19rem] min-[320px]:h-[12rem]  min-[320px]:w-[12rem] h-full" src="{% static 'ActivityEvents/Goodteampana.png' %}" alt="">

      </div>   
      
    
    </section>

    <section class=" w-[94%] mx-auto justify-center items-center mt-[6rem] mb-[5rem] ">

      <h1 class="xl:text-[3.5rem] lg:text-[3.1rem] md:text-[2.5rem] max-[450px]:text-[1.5rem] font-medium  text-center text-[#50A8F5] mb-[1rem]">Ask a question</h1>
<div class="w-full h-full flex justify-end items-end">
          <div class="xl:w-[7.5rem] xl:h-[7.5rem] lg:w-[7rem] lg:h-[7rem] md:w-[4.4rem] md:h-[4.4rem] max-[450px]:w-[3.5rem] max-[450px]:h-[3.5rem] bg-white drop-shadow-xl shadow-[#BABDC2] shadow-sm  rounded-[0.3rem]  relative">
              <div class="xl:w-[7rem] xl:h-[6rem] lg:w-[6rem] lg:h-[5rem] md:w-[4.2rem] md:h-[3.8rem] max-[450px]:w-[3rem] max-[450px]:h-[3rem] bg-[#E8F5FF]  absolute xl:mt-[2.5rem] lg:mt-[2.2rem] md:mt-[1.6rem] max-[450px]:mt-[1rem]  rounded-[0.3rem] xl:right-[2rem] lg:right-[1.8rem] md:right-[1.5rem]  max-[450px]:right-[1rem]  drop-shadow-md  "></div>
          </div>
</div>
      <div class="w-full xl:h-[30rem] lg:h-[28rem] md:h-[40rem] max-[450px]:h-[32rem] mt-[1rem] flex xl:flex-row lg:flex-row md:flex-col max-[450px]:flex-col justify-center items-center relative  ">
          <div class="xl:w-[36rem] lg:w-[32rem] md:w-[40rem] max-[450px]:w-[20rem] h-full flex flex-col mt-[4rem] justify-center xl:p-[0rem] lg:p-[0rem] md:p-[0.2rem] max-[450px]:p-[0.5rem]">
              <h1 class="xl:text-[1.8rem] lg:text-[1.6rem] md:text-[1.2rem] max-[450px]:text-[1rem] text-[#464747] font-medium text-left ">If you have anything in mind you would like to share send us a message</h1>

              <form id="contactusform" action="{% url 'contactus'  %}" method="POST"  class="h-full w-full flex flex-col justify-first items-first   ">
                {% csrf_token %}
                 <div class="flex flex-row">
                   <div class="inputdivparent" >
                       <input  value="{{user.username}}" id="usernameinputcontactusform" name="usernameinputcontactusform" class="inputsclass xl:text-[1.2rem] lg:text-[1.1rem] md:text-[0.8rem]  max-[450px]:text-[0.7rem] " type="text" required>
                       <label class="placeholderlabel xl:text-[1.2rem] lg:text-[1.1rem] md:text-[0.8rem]  max-[450px]:text-[0.7rem] "   for="usernameinputQA">Username</label>
                   </div>
                   <div class="inputdivparent ml-[2rem]" >
                       <input value="{{user.email}}" id="emailinputcontactusform" name="emailinputcontactusform"  class="inputsclass xl:text-[1.2rem] lg:text-[1.1rem] md:text-[0.8rem]  max-[450px]:text-[0.7rem] " type="email" required>
                       <label class="placeholderlabel xl:text-[1.2rem] lg:text-[1.1rem] md:text-[0.8rem]  max-[450px]:text-[0.7rem] "   for="emailinputQA">Email</label>
                   </div>
                 </div>

                  <div class="xl:w-[33.7rem] lg:w-[31rem] md:w-[31rem] max-[450px]:w-[19rem] flex flex-col relative items-center" >
                      <textarea id="messageinputcontactusform" name="messageinputcontactusform" class="inputsclass w-full h-[15rem] lg:h-[13rem] md:h-[10rem] max-[450px]:h-[8rem] xl:text-[1.6rem] lg:text-[1.5rem] md:text-[1.2rem]  max-[450px]:text-[1rem]" col="50" rows="10" required></textarea>
                      <label class="placeholderlabel xl:text-[1.6rem] lg:text-[1.5rem] md:text-[1.2rem]  max-[450px]:text-[1rem]  "   for="messageinputQA">Message</label>
                  </div>
                  <div id="buttonwrapper">
                      <button  type="submit" class="submit xl:w-[15rem] xl:h-[3.4rem] lg:w-[13rem] lg:h-[3rem] md:w-[10rem] md:h-[2.8rem] max-[450px]:w-[8rem] max-[450px]:h-[2rem] xl:text-[1rem] lg:text-[0.9rem] md:text-[0.8rem] max-[450px]:text-[0.7rem]" >Send Message</button>
                         <div class="loader-wrapper">
                         <span class="loader white"></span>
                         <span class="loader blue"></span>
                         </div>
                        <span class="loader blue2"></span>
                         
                     <div class="check-wrapper">
                    <svg class="xl:mt-[20px] xl:ml-[24px] lg:mt-[16px] lg:ml-[20px] md:mt-[13px] md:ml-[17px]" version="1.1"width="50px" height="26px" viewBox="0 0 64.5 37.4">
                    <polyline class="check" points="5,13 21.8,32.4 59.5,5 "/>
                    </svg>
                     </div>
                      
                     </div>
              </form>
          </div>

          <div class="xl:w-[35rem] lg:w-[33rem]  md:w-[21rem] max-[450px]:w-[12rem] h-full flex items-center justify-center xl:ml-[4rem] lg:ml-[3.8rem] md:ml-[0rem] max-[450px]:ml-[0rem] xl:mt-[0rem] lg:mt-[0rem] md:mt-[1rem] max-[450px]:mt-[1rem] ">
              <img class="xl:h-[34rem] lg:h-[23rem] md:h-[20rem] max-[450px]:h-[12rem] mt-[2rem] w-full  " src="{% static 'ActivityEvents/Contactuscuate.png' %}" alt="">

          </div>
      </div>

  </section>
      
</section>


{% endblock %}          
