{% extends "ActivityEvents/layout.html" %}
{% load static %}
{% block body %}
<style>
.content{
    border-radius: 50%;
  position: absolute;
  inset: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content::before{
  content: '';
  position: absolute;
  inset: 40px;
  border: 4px solid transparent;
  border-left: 4px solid #71B3F1;
  border-right: 4px solid #e2e2e2;
  border-radius: 50%;
  animation: animationcontent 5s linear infinite;
  z-index: 1;
  pointer-events: none;

}
@keyframes animationcontent {
  0%{
    rotate: 0deg;
  }
  100%{
    rotate: 360deg;
  }
}






#buttonwrapper {

  width: 100%;
  height: 100%;
font-size:21px;
letter-spacing:6px;
color:white;
overflow: visible;
margin-top: 1rem;
}

.submit, .loader, .loader-wrapper{
position:absolute;
}

.submit {
z-index:2;

background: #66b5ff; 
display:block;
border-radius: 15rem;

text-align:center;
color:rgba(255,255,255,1);
text-decoration:none;
transition: all 0.5s ease, line-height 0s ease, color 0.4s ease, filter 0.2s ease;
}

#buttonwrapper::selection, .submit::selection {
background: transparent;
}




.submit:before {
content:"";
z-index:-2;
width:100%;
height:100%;
background: #66b5ff; 
display:block;
border-radius:50%;
position:absolute;
left:0;
top:0;
opacity:0.8;
transform:scale(0.9) translateY(15px);
filter:blur(45px);
transition:all 0.2s ease;
}

.submit:after {
content:"";
z-index:-4;
width:100%;
height:100%;
background: #66b5ff; 
display:block;
border-radius:50%;
position:absolute;
left:0;
top:0;
opacity:0;
transform:scale(1);
}

.submit:hover:before {
transform:scale(0.9) translateY(5px);
filter:blur(40px);
}

.submit:active {
line-height:460%;
filter:brightness(0.95);
transition:all 0s;
}

.checked .submit:before {
top:0px;
opacity:0;
}

.checked .submit:after {
  animation: submit-after-anim 0.5s 2.4s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.checked {
 -webkit-filter: url("#goo");
 filter: url("#goo");
}

.white {
background-color: #ffffff;
box-shadow: 40px 47px 49px 40px rgba(0, 0, 0, 0.1);
}

.blue {
background-color: #0084ff;
}

.blue2 {
background-color: #7aa5cd;
box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.1);
transform:scale(0.2) rotate(30deg) translate(0px);
}

.checked .blue {
animation: loader-anim-blue 2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.checked .white  {
animation: loader-anim-white 2s 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.checked .blue2 {
 animation: loader-anim-blue2 2s 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loader {
width:95px;
height:95px;
border-radius:50%;
opacity:0;
z-index:1;
}

.checked .loader {
opacity:1;
}

.checked .loader-wrapper {
animation: wrapper-loader-anim 2.2s linear;
width:95px;
height:95px;
border-radius:50%;
transform:scale(0)
}

.checked .submit {
height:70px;
width:70px;
border-radius: 50%;
color:rgba(255,255,255,0);
background: #66b5ff;
animation: submit-anim 2s  cubic-bezier(0.39, 0.575, 0.565, 1);
}


.check-wrapper {
position:absolute;
left:0;
right:0;
margin:0 auto;
width:95px;
height:95px;
z-index:-1;
opacity:1;
}

.check-wrapper svg {
margin-top:20px;
margin-left: 24px;
}

.check{fill:none;
stroke:#ffffff;
stroke-width:10;
stroke-linecap:round;
stroke-linejoin:round;
stroke-miterlimit:10;
stroke-dasharray: 1000;
stroke-dashoffset: 1000;
z-index:-1;
}

.checked .check-wrapper {
z-index:3;
}

.checked .check {
animation: check 2s 2.2s ease forwards;
}


@keyframes loader-anim-blue {
  0% {transform:scale(0.2) rotate(0deg) translate(220px, 0px); }
100% {transform:scale(0.2) rotate(1100deg) translate(300px, 0px);}
}

@keyframes loader-anim-white {
   0% {transform:scale(0.2) rotate(0deg) translate(300px, 0px); }
100% {transform:scale(0.2) rotate(1100deg) translate(220px, 0px);}
}

@keyframes loader-anim-blue2 {
0%,70% {transform:scale(0.2) rotate(30deg) translate(0px); }
85% {transform:scale(0.2) rotate(30deg) translate(-300px);}
100% {transform:scale(0.2) rotate(30deg) translate(0px); }
}

@keyframes wrapper-loader-anim {
  0% { transform: scale(0) translateY(0px); }
  10% { transform: scale(1) translateY(20px); }
  50% { transform: scale(1.2) translateY(10px); }
  90% { transform: scale(1) translateY(-10px); }
  100% { transform: scale(0) translateY(0px); }
}

@keyframes submit-after-anim {
0% {transform:scale(1); opacity:0.3 }
 100% {transform:scale(2); opacity:0 }
}

@keyframes submit-anim {
  0% {transform:scale(1) }
    5%, 95% {transform:scale(0.7) }
100% {transform:scale(1)}
}

@keyframes check {
from {
  stroke-dashoffset: 1000;
}
to {
  stroke-dashoffset: 0;
}
}

.custom-shape-divider-bottom-1697921712 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1697921712 svg {
    position: relative;
    display: block;
    width: calc(158% + 1.3px);
    height: 145px;
}

.custom-shape-divider-bottom-1697921712 .shape-fill {
    fill: #FFFFFF;
}



.custom-shape-divider-bottom-1698085594 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1698085594 svg {
    position: relative;
    display: block;
    width: calc(116% + 1.3px);
    height: 45px;
}

.custom-shape-divider-bottom-1698085594 .shape-fill {
    fill: #FBFDFF;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}


.carousel-button:focus {
  outline: 1px solid black;
}








.custom-shape-divider-top-1698083208 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1698083208 svg {
    position: relative;
    display: block;
    width: calc(133% + 1.3px);
    height: 30px;
}

.custom-shape-divider-top-1698083208 .shape-fill {
    fill: #FBFDFF;
}
</style>
<section class="relative w-full mx-auto flex flex-col justify-center items-center">

<section class="relative bg-[#F2F9FF] xl:w-full  lg:w-full md:w-full min-[320px]:w-full xl:h-[21rem]  lg:h-[21rem] md:h-[20rem] min-[320px]:h-[12rem]   w-full mx-auto flex flex-row justify-between items-center xl:pl-[6rem] lg:pl-[5rem] md:pl-[0.6rem] min-[320px]:pl-[0rem]  xl:pr-[3rem] lg:pr-[2.5rem] md:pr-[0.6rem] min-[320px]:pr-[0rem] " >
  <div class="flex flex-col h-full  items-first justify-center   p-[0.4rem]">
          <h1 class="xl:text-[3rem] lg:text-[2.5rem] md:text-[2.1rem]  min-[320px]:text-[1rem]  font-medium 	 text-[#464747] ">{{event.title}}</h1>
          <div class="w-full h-[4rem] flex flex-row items-center ">
            <button   class="xl:w-[8.5rem] xl:h-[2.7rem] lg:w-[7rem] lg:h-[2.4rem] md:w-[9rem] md:h-[2.9rem] min-[320px]:w-[4rem] min-[320px]:h-[1.2rem]  xl:mt-[2.5rem] lg:mt-[2.3rem] md:mt-[1.8rem] min-[320px]:mt-[1.1rem] bg-[#71B3F1] rounded-[10rem]   text-white   font-medium px-[0.7rem] flex justify-center items-center hoverzoom " ><a class="xl:text-[1rem] lg:text-[0.9rem] md:text-[0.9rem] min-[320px]:text-[0.5rem] "  href="{% url 'registrations' %}">
               <span class="button-text">Register</span>
               <div class="fill-container"></div>
            </a></button>
          {% if user.is_authenticated and user.is_superuser %}
            <button  class="xl:w-[8.5rem] xl:h-[2.7rem] lg:w-[7rem] lg:h-[2.4rem] md:w-[9rem] md:h-[2.9rem] min-[320px]:w-[4rem] min-[320px]:h-[1.2rem]  xl:mt-[2.5rem] lg:mt-[2.3rem] md:mt-[1.8rem] min-[320px]:mt-[1.1rem] bg-white drop-shadow-xl ml-[1rem] rounded-[10rem]   text-black   font-medium px-[0.7rem] flex justify-center items-center hover:bg-[#85C5FF] hoverzoom "><a class="xl:text-[1rem] lg:text-[0.9rem] md:text-[0.9rem] min-[320px]:text-[0.5rem] "  href="{% url 'attendess' %}">
              <span class="button-text">Attendees</span>
              <div class="fill-container"></div>
           </a></button>
           {% endif %}


           </div>
  </div>
  <div class="flex flex-col  h-full justify-center items-center relative   ">
  <img class=" xl:h-[30rem] xl:w-[30rem] lg:h-[28rem] lg:w-[28rem] md:h-[21rem] md:w-[21rem] min-[320px]:h-[10rem] min-[320px]:w-[10rem] z-10 rounded-[2rem]" src="{% static 'ActivityEvents/Groupdiscussionbro.png' %}" alt="">      
  </svg>

  </div>

</section>




    <section class="w-full relative xl:h-[35rem] lg:h-[34rem] md:h-[41rem] min-[320px]:h-[32.5rem] bg-[#F2F9FF] flex justify-center items-center  ">
      <div class="xl:w-[80rem]   lg:w-[62rem] md:w-[47rem] min-[320px]:w-[20rem] h-full flex xl:flex-row lg:flex-row md:flex-col min-[320px]:flex-col justify-between xl:mt-[8rem] lg:mt-[7.5rem] md:mt-[1rem] min-[320px]:mt-[1rem] ">
        
        <div class="carousel xl:w-[38rem]  xl:h-[20rem] lg:w-[36rem] lg:h-[20rem] md:w-[47rem] md:h-full min-[320px]:w-full xl:h-[20rem] lg:h-[19rem] md:h-[12rem]  min-[320px]:h-[10rem] flex flex-col justify-center items-center  relative" data-carousel>

                  
          <ul class="m-0 p-0 w-full h-full"  data-slides>
            {% for event in eventimage %}

            <li class="slide w-full h-full absolute flex flex-col justify-center items-center	" data-active>
                <div class="w-full absolute flex justify-between items-center z-10 px-[0.6rem]" >
                    <button class="carousel-button prev xl:h-[3rem] xl:w-[3rem] lg:h-[3rem] lg:w-[3rem] md:h-[2.5rem] md:w-[2.5rem] min-[320px]:h-[1.5rem] min-[320px]:w-[1.5rem]  bg-[#50A8F5] flex justify-center items-center z-10 cursor-pointer rounded-[0.25rem] drop-shadow-md" data-carousel-button="prev"><box-icon size="2rem" color="#ffffff" name='left-arrow-alt'></box-icon></button>
                    <button class="carousel-button next xl:h-[3rem] xl:w-[3rem] lg:h-[3rem] lg:w-[3rem] md:h-[2.5rem] md:w-[2.5rem] min-[320px]:h-[1.5rem] min-[320px]:w-[1.5rem] bg-[#50A8F5] flex justify-center items-center z-10 cursor-pointer rounded-[0.25rem] drop-shadow-md" data-carousel-button="next"><box-icon size="2rem" color="#ffffff" name='right-arrow-alt' ></box-icon></button>
                </div>
              <div class="xl:w-[26rem] xl:h-[20rem] lg:w-[25rem] lg:h-[16rem] md:w-[28rem] md:h-[16rem] min-[320px]:w-[13rem] min-[320px]:h-[9rem] flex flex-col justify-center items-center relative">
                <img class="w-full h-full block object-cover object-center rounded-[0.3rem] rounded-b-[1.2rem] drop-shadow-sm " src="{{ event.image.url }}">
             
              </div>
            </li>
            {% endfor %}

          </ul>
          </div>



        <div class="xl:w-[30rem] lg:w-[28rem] md:w-full min-[320px]:w-full  xl:h-[22rem] lg:h-[21rem] md:h-[19rem] min-[320px]:h-[18rem] flex flex-col items-center justify-center relative xl:pr-[3rem] lg:pr-[1rem] md:pr-[0rem] min-[320px]:pr-[0rem]">

          <h1 class=" xl:text-[3rem] lg:text-[2.8rem] md:text-[2.2rem] min-[320px]:text-[1.5rem] text-black font-semibold text-[#464747]">{{event.title}}</h1>
          <p class="xl:text-[1.1rem] lg:text-[1rem] md:text-[0.9rem] min-[320px]:text-[0.6rem]  text-center font-normal">{{event.description}}</p>
          <div class="w-full h-full   grid grid-cols-2 grid-rows-1 gap-[0.1rem] xl:ml-[5rem] lg:ml-[5rem] md:ml-[15rem] min-[320px]:ml-[5rem] mt-[2rem]">
            <div class="xl:w-[8rem] xl:h-[8rem] lg:w-[7.7rem] lg:h-[7.7rem] md:w-[8rem] md:h-[8rem] min-[320px]:w-[6rem] min-[320px]:h-[6rem] flex flex-col  items-center ">
              <img class="xl:w-[4rem] xl:h-[4rem] lg:w-[3.8rem] lg:h-[3.8rem]  md:w-[3rem] md:h-[3rem] min-[320px]:w-[2rem] min-[320px]:h-[2rem]" src="{% static 'ActivityEvents/calendar2.png'%}" alt="">
              <h1 class="xl:text-[1.2rem] lg:text-[1.1rem] md:text-[1rem] min-[320px]:text-[0.8rem] font-medium mt-[0.4rem]">{{event.event_date}}</h1>
            </div>
            <div class="xl:w-[8rem] xl:h-[8rem] lg:w-[7.7rem] lg:h-[7.7rem] md:w-[8rem] md:h-[8rem] min-[320px]:w-[6rem] min-[320px]:h-[6rem] flex flex-col  items-center ">
              <img class="xl:w-[4rem] xl:h-[4rem] lg:w-[3.8rem] lg:h-[3.8rem]  md:w-[3rem] md:h-[3rem] min-[320px]:w-[2rem] min-[320px]:h-[2rem]" src="{% static 'ActivityEvents/securitypin.png'%}" alt="">
              <h1 class="xl:text-[1.2rem] lg:text-[1.1rem] md:text-[1rem] min-[320px]:text-[0.8rem] font-medium mt-[0.4rem]">{{event.location}}</h1>
            </div>


          </div>

        </div>

      </div>
      <div class="xl:flex lg:flex md:hidden min-[320px]:hidden custom-shape-divider-bottom-1698085594">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
        </svg>
    </div>
    </section>
    
    


    <section  class="xl:h-[20rem] xl:w-[60rem] lg:h-[20rem] md:h-[22rem] min-[320px]:h-[10rem]  w-full mx-auto flex flex-col justify-center items-center xl:px-[8rem] lg:px-[6rem] md:px-[3rem] min-[320px]:px-[0.5rem] mt-[1rem] ">
              <h1 class="text-center xl:text-[3.5rem] lg:text-[3.2rem] md:text-[2.5rem] min-[320px]:text-[1.8rem] text-[#61B4FD] font-medium">Event Organizers </h1>

              <!--<p class="xl:text-lg lg:text-lg md:text-md min-[320px]:text-sm  mt-[1rem]"></p>--->
              
                <div class="grid grid-rows-2 grid-cols-2 gap-4 w-full h-full mt-[2rem]">
                  {% for EventOrganizer in eventorganizer %}
                    <div class="xl:w-[20rem] xl:h-[5rem] lg:w-[18rem] lg:h-[5rem] md:w-[18rem] md:h-[5rem] min-[320px]:w-[9rem] min-[320px]:h-[3.5rem] bg-white-200 xl:p-[2.5rem] lg:p-[2.5rem] min-[320px]:p-[0.6rem] :p-[2.5rem]  bg-[#ffffff] drop-shadow-lg flex flex-row justify-center items-center rounded-full">
                      <img class="xl:w-[4rem] xl:h-[4rem]  lg:w-[3.8rem] lg:h-[3.8rem] md:w-[3.8rem] md:h-[3.8rem] min-[320px]:w-[2rem] min-[320px]:h-[2rem] rounded-full xl:mr-[2rem] lg:mr-[2rem] md:mr-[1.8rem] min-[320px]:mr-[0.6rem] object-cover"  src="{{ event.image.url }}" alt="">
                      <div >
                        <p class='xl:text-[1rem] lg:text-[1rem] md:text-[1rem] min-[320px]:text-[0.6rem]'><strong>{{EventOrganizer.name}}</strong></p>
                        <p class='xl:text-[1rem] lg:text-[1rem] md:text-[1rem] min-[320px]:text-[0.6rem]'>{{EventOrganizer.jobTitle}}</p>
                      </div> 
                    </div>
                    {% endfor %}
                    
                </div>
</section>
   
    <section class="relative bg-[#F2F9FF] xl:h-[40rem] lg:h-[38rem] md:h-[30rem] min-[320px]:h-[52rem]  w-full mx-auto flex flex-col justify-center items-center xl:px-[4rem] lg:px-[6rem] md:px-[3rem] min-[320px]:px-[0.5rem] mt-[6rem]">
      <div class="xl:flex  lg:flex md:hidden min-[320px]:hidden    custom-shape-divider-top-1698083208">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
        </svg>
    </div>
    <h1 class="text-center xl:text-[3.5rem] lg:text-[3.2rem] md:text-[2.5rem] min-[320px]:text-[1.4rem] text-[#61B4FD] font-medium mt-[1.2rem]">What Our events Proivdes</h1>

      <div class="w-full h-full flex xl:flex-row lg:flex-row md:flex-row min-[320px]:flex-col items-center justify-center xl:mt-[0rem] lg:mt-[0rem] md:mt-[0rem] min-[320px]:mt-[1rem] xl:mb-[3rem] lg:mb-[3rem] md:mb-[3rem] min-[320px]:mb-[1rem]">
        <div class="xl:w-[19rem] xl:h-[24rem] lg:w-[17rem] lg:h-[22rem] md:w-[12rem] md:h-[18rem] min-[320px]:w-[12rem] min-[320px]:h-[15rem] bg-[#FFFFFF] flex flex-col items-center xl:p-[1rem] lg:p-[1rem] md:p-[1rem] min-[320px]:p-[0.8rem] rounded-[0.6rem] drop-shadow-lg">
          <h1 class="xl:text-[1.2rem] lg:text-[1.1rem] md:text-[0.8rem] min-[320px]:text-[0.8rem] font-medium">Networking community</h1>
          <img class="xl:w-[10rem] xl:h-[10rem] lg:w-[9rem] lg:h-[9rem] md:w-[8rem] md:h-[8rem] min-[320px]:w-[6rem] min-[320px]:h-[6rem]  " src="{% static 'ActivityEvents/Teamspiritcuate.png' %}" alt="">
          <p class=" xl:text-[0.9rem] lg:text-[0.8rem] md:text-[0.6rem] min-[320px]:text-[0.6rem]  text-black text-center font-normal xl:mt-[0.8rem] lg:mt-[0.8rem] md:mt-[0.8rem] min-[320px]:mt-[0.3rem]">Create opportunities for you to network with instoctors, mentors, alumni, software companies, you never know which connections will end up being valuable to your career going forward.</p>
        </div>

        <div class="xl:w-[19rem] xl:h-[24rem] lg:w-[17rem] lg:h-[22rem] md:w-[12rem] md:h-[18rem] min-[320px]:w-[12rem] min-[320px]:h-[15rem] bg-[#FFFFFF] flex flex-col items-center  xl:p-[1rem] lg:p-[1rem] md:p-[1rem] min-[320px]:p-[0.5rem] rounded-[0.6rem] drop-shadow-lg xl:ml-[2rem] lg:ml-[2rem] md:ml-[2rem]  min-[320px]:ml-[0rem] xl:mt-[0rem] lg:mt-[0rem] md:mt-[0rem]  min-[320px]:mt-[0.8rem]">
          <h1 class="xl:text-[1.2rem] lg:text-[1.1rem] md:text-[0.8rem] min-[320px]:text-[0.8rem] font-medium">Career services</h1>
          <img class="xl:w-[10rem] xl:h-[10rem] lg:w-[9rem] lg:h-[9rem] md:w-[8rem] md:h-[8rem] min-[320px]:w-[6rem] min-[320px]:h-[6rem]   " src="{% static 'ActivityEvents/Resumebro.png' %}" alt="">
          <p class="  xl:text-[0.9rem] lg:text-[0.8rem] md:text-[0.6rem]  min-[320px]:text-[0.6rem]  text-black text-center font-normal xl:mt-[0.8rem] lg:mt-[0.8rem] md:mt-[0.8rem] min-[320px]:mt-[0.3rem]">Advance your career by getting internship and job opportunities in the best software Iraqi companies.</p>
        </div>

        <div class="xl:w-[19rem] xl:h-[24rem] lg:w-[17rem] lg:h-[22rem] md:w-[12rem] md:h-[18rem] min-[320px]:w-[12rem] min-[320px]:h-[15rem] bg-[#FFFFFF] flex flex-col items-center  xl:p-[1rem] lg:p-[1rem] md:p-[1rem] min-[320px]:p-[0.5rem] rounded-[0.6rem] drop-shadow-lg xl:ml-[2rem] lg:ml-[2rem] md:ml-[2rem]  min-[320px]:ml-[0rem] xl:mt-[0rem] lg:mt-[0rem] md:mt-[0rem]  min-[320px]:mt-[0.8rem]">
          <h1 class="xl:text-[1.2rem] lg:text-[1.1rem] md:text-[0.8rem] min-[320px]:text-[0.8rem] font-medium">Gamification of learning</h1>
          <img class="xl:w-[10rem] xl:h-[10rem] lg:w-[9rem] lg:h-[9rem] md:w-[8rem] md:h-[8rem] min-[320px]:w-[6rem] min-[320px]:h-[6rem]   " src="{% static 'ActivityEvents/Knowledgecuate.png' %}" alt="">
          <p class=" xl:text-[0.9rem] lg:text-[0.8rem] md:text-[0.6rem]  min-[320px]:text-[0.6rem]  text-black text-center font-normal xl:mt-[0.8rem] lg:mt-[0.8rem] md:mt-[0.8rem] min-[320px]:mt-[0.3rem]">Maximize your enjoyment and engagement through gamification techniques to motivate you by using game elements in learning environments.</p>
        </div>

      </div>      
      <div class="xl:flex lg:flex md:hidden min-[320px]:hidden custom-shape-divider-bottom-1698085594">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
        </svg>
    </div>
    </section>





    
    <section class="relative h-[40rem] lg:h-[38rem] md:h-[30rem] min-[320px]:h-[32rem]  w-[95%] bg-[#F2F9FF] mx-auto flex flex-col items-center mt-[3rem]">
      <h1 class="text-center xl:text-[3.5rem] lg:text-[3.2rem] md:text-[2.5rem] min-[320px]:text-[1.6rem] text-[#61B4FD] font-medium mt-[1.2rem]">Event Registeration</h1>


      <div class="   rounded-[0.6rem] h-[26rem] xl:w-[55rem] lg:w-[54rem] md:w-[44rem] min-[320px]:w-[30rem] flex xl:flex-row lg:flex-row md:flex-row min-[320px]:flex-col items-center justify-between mt-[2rem] ">
        
        <img class="xl:w-[25rem] xl:h-[25rem] lg:w-[24rem] lg:h-[24rem] md:w-[20rem] md:h-[20rem] min-[320px]:w-[12rem] min-[320px]:h-[12rem] "  src="{% static 'ActivityEvents/Formsbro.png' %}"  alt="">
        <div class="xl:w-[25rem] xl:h-[25rem] lg:w-[24rem] lg:h-[24rem] md:w-[20rem] md:h-[20rem] min-[320px]:w-[18rem] min-[320px]:h-[15rem] flex flex-col items-center mt-[4rem] ">
          <h1 class="xl:text-[2rem] lg:text-[1.8rem] md:text-[1.5rem] min-[320px]:text-[1.2rem]  text-center font-medium">Register for our events to share your information, and you will be warmly welcomed.</h1>
          <button   class="xl:w-[10rem] xl:h-[3rem] lg:w-[7rem] lg:h-[2.4rem] md:w-[9rem] md:h-[2.9rem] min-[320px]:w-[8rem] min-[320px]:h-[2.5rem]  mt-[2.5rem] bg-[#71B3F1] rounded-[10rem]   text-white   font-medium px-[0.7rem] flex justify-center items-center hoverzoom " ><a class="xl:text-[1rem] lg:text-[0.9rem] md:text-[0.9rem] min-[320px]:text-[1rem] "  href="{% url 'registrations' %}">
            <span class="button-text">Register</span>
            <div class="fill-container"></div>
         </a></button>

        </div>
      </div>  
      <div class="xl:flex lg:flex md:hidden min-[320px]:hidden custom-shape-divider-bottom-1698085594">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
        </svg>
    </div>    
    </section>







    <section class="relative h-[40rem] lg:h-[38rem] md:h-[30rem] min-[320px]:h-[34rem] w-full  mx-auto flex flex-col justify-center items-center mt-[2rem]">

      <h1 class="text-center xl:text-[3.5rem] lg:text-[3.2rem] md:text-[2.5rem] min-[320px]:text-[2.2rem] text-[#61B4FD] font-medium mt-[0.8rem]">Our Location</h1>

      <div class=" w-[95%] bg-[#FBFDFF] drop-shadow-sm  rounded-[0.6rem] h-[26rem]  flex xl:flex-row lg:flex-row md:flex-row min-[320px]:flex-col items-center  justify-center mt-[2rem] ">

        <div class="xl:h-[20rem] xl:w-[30rem] lg:h-[19rem] lg:w-[29rem] md:h-[15rem] md:w-[23rem] min-[320px]:h-[18rem] min-[320px]:w-[19rem] flex flex-col justify-center items-first rounded-[1rem] p-[1rem]">
          <div class="w-full h-[4rem] flex flex-row ">
            <box-icon size="2rem" type='solid' name='location-plus'></box-icon>
            <h1 class="xl:text-[1.5rem] lg:text-[1.4rem] md:text-[1.2rem] min-[320px]:text-[1rem] ml-[1rem]">Baghdad, Al Joumhouria</h1>
          </div>
          <div class="w-full h-[4rem] flex flex-row ">
            <box-icon size="2rem" type='solid' name='phone'></box-icon>
            <h1 class="xl:text-[1.5rem] lg:text-[1.4rem] md:text-[1.2rem] min-[320px]:text-[1rem] ml-[1rem]">+9647809563573</h1>
          </div>
          <div class="w-full h-[4rem] flex flex-row ">
            <box-icon size="2rem" type='solid' name='envelope'></box-icon>
            <h1 class="xl:text-[1.5rem] lg:text-[1.4rem] md:text-[1.2rem] min-[320px]:text-[1rem] ml-[1rem]">info@computiq.tech</h1>
          </div>
        </div>
        <div id="map" class="xl:h-[20rem] xl:w-[35rem] lg:h-[19rem] lg:w-[29rem] md:h-[15rem] md:w-[23rem] min-[320px]:h-[22rem] min-[320px]:w-[19rem]  rounded-[1rem] z-[1]"></div>

      </div>      
    </section>

    <section class=" w-[95%] mx-auto justify-center items-center mt-[1rem] mb-[5rem] ">

      <h1 class="xl:text-[3.5rem] lg:text-[3.1rem] md:text-[2.5rem] max-[450px]:text-[1.5rem] font-medium  text-center text-[#50A8F5] mb-[1rem]">Ask a question</h1>
<div class="w-full h-full flex justify-end items-end">
          <div class="xl:w-[7.5rem] xl:h-[7.5rem] lg:w-[7rem] lg:h-[7rem] md:w-[4.4rem] md:h-[4.4rem] max-[450px]:w-[3.5rem] max-[450px]:h-[3.5rem] bg-white drop-shadow-xl shadow-[#BABDC2] shadow-sm  rounded-[0.3rem]  relative">
              <div class="xl:w-[7rem] xl:h-[6rem] lg:w-[6rem] lg:h-[5rem] md:w-[4.2rem] md:h-[3.8rem] max-[450px]:w-[3rem] max-[450px]:h-[3rem] bg-[#E8F5FF]  absolute xl:mt-[2.5rem] lg:mt-[2.2rem] md:mt-[1.6rem] max-[450px]:mt-[1rem]  rounded-[0.3rem] xl:right-[2rem] lg:right-[1.8rem] md:right-[1.5rem]  max-[450px]:right-[1rem]  drop-shadow-md  "></div>
          </div>
</div>
      <div class="w-full xl:h-[30rem] lg:h-[28rem] md:h-[40rem] max-[450px]:h-[32rem] mt-[1rem] flex xl:flex-row lg:flex-row md:flex-col max-[450px]:flex-col justify-center items-center relative  ">
          <div class="xl:w-[36rem] lg:w-[32rem] md:w-[40rem] max-[450px]:w-[20rem] h-full flex flex-col mt-[4rem] justify-center xl:p-[0rem] lg:p-[0rem] md:p-[0.2rem] max-[450px]:p-[0.5rem]">
              <h1 class="xl:text-[1.8rem] lg:text-[1.6rem] md:text-[1.2rem] max-[450px]:text-[1rem] text-[#464747] font-medium text-left ">If you have anything in mind you would like to share send us a message</h1>

<form id="contactusform" action="{% url 'contactus'  %}" method="POST"  class="h-full w-full flex flex-col justify-first items-first   ">
                {% csrf_token %}
                 <div class="flex flex-row">
                   <div class="inputdivparent" >
                       <input  value="{{user.username}}" id="usernameinputcontactusform" name="usernameinputcontactusform" class="inputsclass xl:w-[16rem] xl:h-[4rem] lg:w-[16rem] lg:h-[3.2rem] md:w-[14rem] md:h-[4rem] min-[320px]:w-[8.8rem]min-[320px]:h-[2.8rem] xl:rounded-[0.6rem] lg:rounded-[0.6rem] md:rounded-[5rem] min-[320px]:rounded-[5rem] " type="text" required>
                       <label class="placeholderlabel xl:text-[1.2rem] lg:text-[1.1rem] md:text-[0.8rem]  max-[450px]:text-[0.7rem] "   for="usernameinputQA">Username</label>
                   </div>
                   <div class="inputdivparent ml-[2rem]" >
                       <input value="{{user.email}}" id="emailinputcontactusform" name="emailinputcontactusform"  class="inputsclass xl:w-[16rem] xl:h-[4rem] lg:w-[16rem] lg:h-[3.2rem] md:w-[14rem] md:h-[4rem] min-[320px]:w-[8.8rem]min-[320px]:h-[2.8rem] xl:rounded-[0.6rem] lg:rounded-[0.6rem] md:rounded-[5rem] min-[320px]:rounded-[5rem] " type="email" required>
                       <label class="placeholderlabel xl:text-[1.2rem] lg:text-[1.1rem] md:text-[0.8rem]  max-[450px]:text-[0.7rem] "   for="emailinputQA">Email</label>
                   </div>
                 </div>

                  <div class="xl:w-[33.7rem] lg:w-[31rem] md:w-[31rem] max-[450px]:w-[19rem] flex flex-col relative items-center" >
                      <textarea id="messageinputcontactusform" name="messageinputcontactusform" class="inputsclass w-full h-[15rem] lg:h-[13rem] md:h-[10rem] max-[450px]:h-[8rem] xl:text-[1.6rem] lg:text-[1.5rem] md:text-[1.2rem]  max-[450px]:text-[1rem]" col="50" rows="10" required></textarea>
                      <label class="placeholderlabel xl:text-[1.6rem] lg:text-[1.5rem] md:text-[1.2rem]  max-[450px]:text-[1rem]  "   for="messageinputQA">Message</label>
                  </div>
                  <div id="buttonwrapper">
                      <button  type="submit" class="submit xl:w-[15rem] xl:h-[3.4rem] lg:w-[13rem] lg:h-[3rem] md:w-[10rem] md:h-[2.8rem] max-[450px]:w-[8rem] max-[450px]:h-[2rem] xl:text-[1rem] lg:text-[0.9rem] md:text-[0.8rem] max-[450px]:text-[0.7rem]" >Send Message</button>
                         <div class="loader-wrapper">
                         <span class="loader white"></span>
                         <span class="loader blue"></span>
                         </div>
                        <span class="loader blue2"></span>
                         
                     <div class="check-wrapper">
                    <svg class="xl:mt-[20px] xl:ml-[24px] lg:mt-[16px] lg:ml-[20px] md:mt-[13px] md:ml-[17px]" version="1.1"width="50px" height="26px" viewBox="0 0 64.5 37.4">
                    <polyline class="check" points="5,13 21.8,32.4 59.5,5 "/>
                    </svg>
                     </div>
                      
                     </div>
              </form>
          </div>

          <div class="xl:w-[35rem] lg:w-[33rem]  md:w-[21rem] max-[450px]:w-[12rem] h-full flex items-center justify-center xl:ml-[4rem] lg:ml-[3.8rem] md:ml-[0rem] max-[450px]:ml-[0rem] xl:mt-[0rem] lg:mt-[0rem] md:mt-[1rem] max-[450px]:mt-[1rem] ">
              <img class="xl:h-[34rem] lg:h-[23rem] md:h-[20rem] max-[450px]:h-[12rem] mt-[2rem] w-full  " src="{% static 'ActivityEvents/Contactuscuate.png' %}" alt="">

          </div>
      </div>

  </section>
      
</section>

<script>
  //slider section
const buttons = document.querySelectorAll("[data-carousel-button]")

buttons.forEach(button => {
  button.addEventListener("click", () => {
    const offset = button.dataset.carouselButton === "next" ? 1 : -1
    const slides = button
      .closest("[data-carousel]")
      .querySelector("[data-slides]")

    const activeSlide = slides.querySelector("[data-active]")
    let newIndex = [...slides.children].indexOf(activeSlide) + offset
    if (newIndex < 0) newIndex = slides.children.length - 1
    if (newIndex >= slides.children.length) newIndex = 0

    slides.children[newIndex].dataset.active = true
    delete activeSlide.dataset.active
  })
})


//map function
var map = L.map('map').setView([33.31412416262699, 44.42276682842836], 20); 
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);
var newLatitude = 33.31412416262699; 
var newLongitude = 44.42276682842836; 
var specificLocation = L.marker([newLatitude, newLongitude]).addTo(map);
specificLocation.bindPopup("Baghdad-Computiq").openPopup();
</script>
{% endblock %}
