{% extends "ActivityEvents/layout.html" %}
{% load static %}
{% block body %}
<style>
     @keyframes floating {
    0%, 100% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, -10px);
    }
  }

  .custom-animation {
    animation: floating 2s infinite;
  }
</style>

<section class="w-full h-full flex flex-col justify-center items-center">
   <section class="relative bg-[#F8FCFF] xl:h-[28rem] lg:h-[28rem] md:h-[25rem] min-[320px]:h-[18rem]  w-full mx-auto flex flex-row justify-center items-center" >
      <div class="flex flex-col w-6/12  h-full justify-center items-center p-[0.5rem]">
                <h1 class="xl:text-[2.1rem] lg:text-[2rem] md:text-[2.1rem]  min-[320px]:text-[1rem]  font-medium 	 text-[#464747] "><span class="text-[#50A8F5]">Hub200’s</span> event lineup: music, tech, <br> art, thrilling experiences await.</h1>

              <div class="flex flex-row justify-center items-center xl:mr-[15rem] lg:mr-[11rem] md:mr-[3rem] min-[320px]:ml-[0.5rem]">
               <button   class="xl:w-[8.5rem] xl:h-[2.7rem] lg:w-[7rem] lg:h-[2rem] md:w-[10rem] md:h-[2.9rem] min-[320px]:w-[4.5rem] min-[320px]:h-[1.5rem]  mt-[2.5rem] bg-[#85C5FF] rounded-[10rem]   text-white   font-medium px-[0.7rem] flex justify-center items-center hoverzoom " ><a class="xl:text-[1rem] lg:text-[0.9rem] md:text-[0.9rem] min-[320px]:text-[0.5rem] "  href="{% url 'registrations' %}">Register</a></button>
               <button  class="xl:w-[8.5rem] xl:h-[2.7rem] lg:w-[7rem] lg:h-[2rem] md:w-[10rem] md:h-[2.9rem] min-[320px]:w-[4.5rem] min-[320px]:h-[1.5rem]  mt-[2.5rem] bg-white drop-shadow-xl ml-[1rem] rounded-[10rem]   text-black   font-medium px-[0.7rem] flex justify-center items-center hoverzoom "><a class="xl:text-[1rem] lg:text-[0.9rem] md:text-[0.9rem] min-[320px]:text-[0.5rem] "  href="{% url 'calendar' %}">calendar</a></button>
              </div>

      </div>
      <div class="flex flex-col w-6/12 h-full  items-center relative xl:mr-[4rem] lg:mr-[4rem] md:mr-[3rem] min-[320px]:mr-[0rem] mt-[8rem] ">
          <div class="xl:w-[29rem] xl:h-[18rem] min-[320px]:w-[10rem]  min-[320px]:h-[10rem] flex flex-col justify-center items-center lg:w-[20.5rem] lg:h-[14rem] md:w-[20.5rem] md:h-[14rem]  bg-transparent relative rounded-[0.3rem] rounded-tr-[0.8rem]">
              <img class="xl:h-[29rem] lg:h-[22rem] md:h-[22rem] min-[320px]:h-[9.9rem]  absolute xl:right-[2rem] lg:right-[2rem] md-right-[1.5rem] min-[320px]:right-[0.4rem] xl:top-[-8rem] lg:top-[-5rem] md:top-[-4.8rem] min-[320px]:top-[-1.7rem]  z-10 custom-animation " src="{% static 'ActivityEvents/Groupdiscussionamico2.png' %}" alt="">

          </div>
      </div>
      <div class="xl:w-[50rem] xl:h-[6.3rem] lg:w-[45rem] lg:h-[6rem] md:w-[35rem] md:h-[5.5rem] min-[320px]:w-[18.5rem] min-[320px]:h-[3.5rem] bg-white drop-shadow-xl absolute xl:bottom-[-2.5rem] lg:bottom-[-2.5rem] md:bottom-[-2.9rem] min-[320px]:bottom-[-1.7rem] rounded-[1.5rem] flex flex-row justify-between items-center xl:px-[3rem] lg:px-[2.8rem] md:px-[2rem] min-[320px]:px-[0.8rem] opacity-80	 ">
         <div class="flex flex-col justify-center items-center">
            <h1 class="xl:text-[1.1rem] lg:text-[1.1rem] md:text-[0.9rem] min-[320px]:text-[0.54rem] font-medium">All Events</h1>
            <h1 class="counter xl:text-[1.5rem] lg:text-[1.5rem] md:text-[1.5rem] min-[320px]:text-[1.2rem] xl:mt-[0.3rem] lg:mt-[0.3rem] md:mt-[0.3rem] min-[320px]:mt-[0.05rem] text-[#0888FF]" data-target="{{AllEventsCount}}"></h1>
         </div>
         <div class="flex flex-col justify-center items-center">
            <h1 class="xl:text-[1.1rem] lg:text-[1.1rem] md:text-[0.9rem] min-[320px]:text-[0.54rem] font-medium">Registered People</h1>
            <h1 class="counter text-[1.5rem] lg:text-[1.5rem] md:text-[1.5rem] min-[320px]:text-[1.2rem] xl:mt-[0.3rem] lg:mt-[0.3rem] md:mt-[0.3rem] min-[320px]:mt-[0.05rem] text-[#0888FF]" data-target="{{RegisteredPeopleCount}}"></h1>
         </div>
         <div class="flex flex-col justify-center items-center">
            <h1 class="xl:text-[1.1rem] lg:text-[1.1rem] md:text-[0.9rem] min-[320px]:text-[0.54rem] font-medium">Available Events </h1>
            <h1 class="counter text-[1.5rem] lg:text-[1.5rem] md:text-[1.5rem] min-[320px]:text-[1.2rem] xl:mt-[0.3rem] lg:mt-[0.3rem] md:mt-[0.3rem] min-[320px]:mt-[0.05rem] text-[#0888FF]" data-target="{{AvailableEventsCount}}"></h1>
         </div>
         <div class="flex flex-col justify-center items-center">
            <h1 class="xl:text-[1.1rem] lg:text-[1.1rem] md:text-[0.9rem] min-[320px]:text-[0.54rem] font-medium">Not Available Events </h1>
            <h1 class="counter text-[1.5rem] lg:text-[1.5rem] md:text-[1.5rem] min-[320px]:text-[1.2rem] xl:mt-[0.3rem] lg:mt-[0.3rem] md:mt-[0.3rem] min-[320px]:mt-[0.05rem] text-[#0888FF]" data-target="{{NotAvailableEventsCount}}"></h1>
         </div>
      </div>
  </section>
   <section class="events w-[99%] h-full mt-[6rem] flex flex-col  items-center">
      <h1 class="  text-3xl mb-10 text-[#50A8F5]" id="title"><strong>Upcoming Events</strong></h1>
      <div class="flex flex-row w-full h-[7rem] xl:ml-[5rem] lg:ml-[5rem] md:ml-[5rem] min-[320px]:ml-[1rem] ">
         <div class="inputdivparent" >
            <input onkeyup="myFunction()" id="myInput" class="inputsclass xl:w-[16rem] xl:h-[3.5rem] lg:w-[14.5rem] lg:h-[3.3rem]  md:w-[10rem] md:h-[3.2rem] min-[320px]:w-[6.8rem] min-[320px]:h-[3rem]  rounded-[5rem] drop-shadow-sm" type="text" required>
            <label class="placeholderlabel"   for="Search for events..">Event Title</label>
        </div>
   
         <form class="relative flex flex-row w-full h-[10rem] mb-[4rem] xl:mr-[4rem] xl:ml-[4rem] lg:mr-[4rem] lg:ml-[4rem] md:mr-[4rem] md:ml-[4rem] min-[320px]:mr-[1rem] min-[320px]:ml-[1rem] " method="POST" action="{% url 'events'  %}">
            {% csrf_token %}
            <div class="inputdivparent" >
               <select id="LocationRegistration" class="inputsclass xl:w-[16rem] xl:h-[3.5rem] lg:w-[14.5rem] lg:h-[3.3rem]  md:w-[10rem] md:h-[3.2rem] min-[320px]:w-[6.8rem] min-[320px]:h-[3rem]  rounded-[5rem] drop-shadow-sm" name="filter"  >
                 <option value="allevents">All Event</option>
                 <option value="next_week">Next Week</option>
                 <option value="next_month">Next Month</option>
               </select>
                 <label  class="placeholderlabel"   for="Filter">Events Filter</label>
                 <div class="error"></div>
             </div>



             <button class="xl:w-[9rem] xl:h-[2.7rem] lg:w-[10rem] lg:h-[3rem] md:w-[8rem] md:h-[2.4rem]  min-[320px]:w-[4rem] min-[320px]:h-[2rem] mt-[1.2rem] mb-[0.5rem] bg-[#71B3F1] xl:text-[1rem] lg:text-[1rem] md:text-[0.8rem] min-[320px]:text-[0.5rem] rounded-[10rem] text-white font-semibold text-[1.3rem] drop-shadow-xl xl:ml-[2rem] lg:ml-[2rem] md:ml-[2rem] min-[320px]:ml-[0.5rem]" type="submit">Apply Filter</button>
   
        </form>
      </div>
      <div class="flex flex-row w-full h-[7rem] xl:ml-[5rem] lg:ml-[5rem] md:ml-[5rem] min-[320px]:ml-[1rem] ">

   <form class="relative flex flex-row w-full h-[10rem] mb-[4rem] mb-[4rem] " method="POST" action="{% url 'eventsRange'  %}">
    {% csrf_token %}

     <div class="inputdivparent ">
       <input class="inputsclass xl:w-[16rem] xl:h-[3.5rem] lg:w-[14.5rem] lg:h-[3.3rem]  md:w-[10rem] md:h-[3.2rem] min-[320px]:w-[6.8rem] min-[320px]:h-[3rem] rounded-[5rem] drop-shadow-sm" type="date" id="startDate" name="startdate">
       <label class="placeholderlabel" for="DateRange">Date Range</label>
   </div>
   <div class="inputdivparent xl:ml-[4rem] lg:ml-[4rem] md:ml-[4rem] min-[320px]:ml-[1rem]">
    <input class="inputsclass xl:w-[16rem] xl:h-[3.5rem] lg:w-[14.5rem] lg:h-[3.3rem]  md:w-[10rem] md:h-[3.2rem] min-[320px]:w-[6.8rem] min-[320px]:h-[3rem]   rounded-[5rem] drop-shadow-sm" type="date" id="endDate" name="enddate">
    <label class="placeholderlabel" for="DateRange">to</label>
</div>
     <button class="xl:w-[9rem] xl:h-[2.7rem] lg:w-[10rem] lg:h-[3rem] md:w-[8rem] md:h-[2.4rem] min-[320px]:w-[4rem] min-[320px]:h-[2rem] mt-[1.2rem] mb-[0.5rem] bg-[#71B3F1] xl:text-[1rem] lg:text-[1rem] md:text-[0.8rem] min-[320px]:text-[0.5rem] rounded-[10rem] text-white font-semibold text-[1.3rem] drop-shadow-xl xl:ml-[2rem] lg:ml-[2rem] md:ml-[2rem] min-[320px]:ml-[0.5rem]" type="submit">Apply Range</button>

</form>
</div>

   
      <div class="xl:w-[80rem] lg:w-[65rem] md:w-[47rem] min-[320px]:w-[25rem] h-full grid xl:grid-cols-3 xl:grid-row-3 lg:grid-cols-3 lg:grid-row-3 md:grid-cols-2 md:grid-row-3 min-[320px]:grid-cols-1 min-[320px]:grid-row-3 xl:gap-[1rem] items-center lg:gap-[0.9rem] md:gap-[2rem] min-[320px]:gap-[1rem] mb-[3rem]">
   
         {% for event in all_events %}
       <div  data-title="{{ event.title }}"  class="event-container   xl:w-[21rem] xl:h-[27rem] lg:w-[19rem] lg:h-[31rem] md:w-[18rem] md:h-[27rem] min-[320px]:w-[14.5rem] min-[320px]:h-[19.5rem] bg-[#F8FCFF] rounded-xl drop-shadow-xl overflow-hidden xl:ml-9 lg:ml-[1rem] md:ml-[2.4rem] min-[320px]:ml-[5.5rem]">
         <div class="w-full" id="post">
          <div class="w-full relative p-[0.1rem]">
             <img class="xl:h-[12rem] lg:h-56 md:h-[10.8rem] min-[320px]:h-[9rem] w-full object-cover" src="{{ event.image.url }}" alt="">
             <div class="xl:w-[6.5rem] xl:h-[2.5rem] lg:w-[7.5rem] lg:h-[2.4rem] md:w-[6.1rem] md:h-[2.2rem] min-[320px]:w-[4rem] min-[320px]:h-[1.6rem] flex justify-center items-center rounded-[3rem] bg-white drop-shadow-lg absolute top-[1rem] left-[1rem]">
               {% if event.status %}
               <h1 class="text-black xl:text-[0.8rem] lg:text-[0.8rem] md:text-[0.7rem] min-[320px]:text-[0.5rem] font-medium ">Event Available</h1>
               {% else  %}
               <h1 class="text-black xl:text-[0.65rem] lg:text-[0.65rem] md:text-[0.6rem] min-[320px]:text-[0.4rem] font-medium  ">Event Not Available</h1>
               {% endif %}
             </div>

          </div>
         </div>
       <div class="h-full w-full flex flex-col items-center p-[0.5rem] " >
           <h1 class=" font-medium  text-stone-900 mt-[0.5rem]  xl:text-[1.4rem] lg:text-[1.5rem] md:text-[1.5rem] min-[320px]:text-[1rem]  ">{{event.title}}</h1>
           <p class="xl:text-[0.8rem] lg:text-[0.8rem] md:text-[0.7rem] min-[320px]:text-[0.5rem] xl:mt-[0.5rem] xl:mb-[1rem]  lg:mt-[1rem] lg:mb-[1rem]  md:mt-[0.9rem] md:mb-[0.9rem]  min-[320px]:mt-[0.4rem] min-[320px]:mb-[0.4rem] text-[#6E8292] text-center">{{event.description}}</p>           
           <button class="xl:w-[8rem] xl:h-[2.5rem] lg:w-[8rem] lg:h-[2rem] md:w-[9rem] md:h-[2.8rem] min-[320px]:w-[5rem] min-[320px]:h-[1.7rem] xl:mt-[0.5rem] lg:mt-[1.5rem] md:mt-[1.2rem] min-[320px]:mt-[0.2rem] mb-[1rem] bg-[#71B3F1] xl:text-[0.9rem] lg:text-[0.8rem] md:text-[0.8rem] min-[320px]:text-[0.6rem] rounded-[10rem] text-white font-semibold text-[1.3rem] drop-shadow-xl hoverzoom " type="button"><a href="{% url 'display_event' event_id=event.id %}" class="">Read More...</a></button>

           
          </div>
       </div>
   
       {% endfor %}
       </div>
   
   
     
   
   </div>
   </section>
</section>




<script>
//search bar function

function myFunction() {
   var input, filter, eventContainers, title, i;
   input = document.getElementById('myInput');
   filter = input.value.toUpperCase();
   eventContainers = document.querySelectorAll(".event-container");

   for (i = 0; i < eventContainers.length; i++) {
      title = eventContainers[i].getAttribute('data-title');
      if (title) {
         if (title.toUpperCase().indexOf(filter) > -1) {
            eventContainers[i].style.display = ""; 
         } else {
            eventContainers[i].style.display = "none";
         }
      }
   }
}


const counters = document.querySelectorAll('.counter');
// Main function
for(let n of counters) {
  const updateCount = () => {
    const target = + n.getAttribute('data-target');
    const count = + n.innerText;
    const speed = 5000; // change animation speed here
    const inc = target / speed; 
    if(count < target) {
      n.innerText = Math.ceil(count + inc);
      setTimeout(updateCount, 3000 / 60);
    } else {
      n.innerText = target;
    }
  }
  updateCount();
}
</script>

{% endblock %}
