{% extends "ActivityEvents/layout.html" %}
{% load static %}
{% block body %}
<section class="min-h-screen flex flex-col items-center p-8 pl-9 pr-9 ">
    <div class="flex flex-row w-full h-full justify-center items-center   ">
        <form action="{% url 'resetpassword'  %}" method="POST" class="w-2/4 h-full  flex flex-col items-center justify-center ">
            {% csrf_token %}
            <img class="w-[8rem] h-[2rem]" src="{% static 'ActivityEvents/hub200logo.png' %}" />
            <h3 class="text-[1.6rem] mt-[1rem]">Reset your password</h3>
            <div class="flex flex-col h-[5rem] mt-[1rem] items-start  ">
                <label for="newpassword">New Password</label>
                <input class="w-[18rem] h-[2.5rem] rounded-[0.5rem]" type="password" name="newpassword" placeholder="********" required>
            </div>
            <div class="flex flex-col h-[5rem] mt-[1rem] items-start  ">
                <label for="confirmnewpassword">Confirm New Password</label>
                <input class="w-[18rem] h-[2.5rem] rounded-[0.5rem]" type="password" name="confirmnewpassword" placeholder="********" required>
            </div>
            <button class="w-[14rem] mt-[1rem] h-[3rem] bg-[#499DEC] rounded-[0.5rem] text-white font-semibold text-[1.3rem]" type="submit">Reset Password</button>
        </form>
        <div class="w-2/4 h-full  flex flex-col items-center ">
            <img class="w-[8rem] h-[2rem]" src="{% static 'ActivityEvents/hub200logo.png' %}" />
        </div>

    </div>
</section>

{% endblock %}