{% extends "ActivityEvents/layout.html" %}
{% load static %}
{% block body %}
<section class="h-full flex flex-col items-center p-4 ">
    <div class="flex flex-col w-full h-full justify-center items-center  ">
        <img class="xl:w-[9.5rem] xl:h-[2.5rem] lg:w-[9.4rem] lg:h-[2.4rem] md:w-[8rem] md:h-[2rem] min-[320px]:w-[7rem] min-[320px]:h-[1.6rem]" src="{% static 'ActivityEvents/hub200logo.png' %}" />
        <img class="xl:w-[25rem] xl:h-[20rem] lg:w-[23rem] lg:h-[18rem] md:w-[20rem] md:h-[17rem] min-[320px]:w-[16rem] min-[320px]:h-[14rem]" src="{% static 'ActivityEvents/signupdone.png' %}" />
        <h1 class="text-[#50A8F5] xl:text-[3rem] lg:text-[1.4rem] md:text-[1.2rem] min-[320px]:text-[1rem]">Thanks for signing up!</h1>
        <!--


<p class="xl:text-[0.8rem] lg:text-[1rem] md:text-[0.8rem] min-[320px]:text-[0.6rem] text-center">We have sent you an email verification to azizahsaan@gmail.com
            please check it, and grap the link from there</p>

        -->

        

    </div>
</section>

{% endblock %}