@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,700;1,800;1,900&family=Signika:wght@300;400;500;600;700&family=Tajawal:wght@200;300;400;500;700;800;900&family=Tilt+Neon&display=swap');
body{
    font-family: 'Rubik', sans-serif;
}
.hoverzoom {
    transition: transform 0.5s ease-in-out;
}

.hoverzoom:hover {
    transform: scale(1.05);
    background-color: #fafdff;
    box-shadow: 5px 07px 09px 5px rgba(0, 0, 0, 0.1);
    color: black;
}

/* input autofill color sets to white */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: #FFFFFF !important;
    color: #555 !important;
    -webkit-text-fill-color: #555555 !important;
}
 
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb{
    background: #71B3F1;
    border-radius: 5px;
}




.inputdivparent{
    display:flex;
    flex-direction: column;
    height: 6rem;
    margin-top: 1rem;
    position: relative;
}

.inputdivparent.success input {
    border-color: #09c372;
}
.inputdivparent.success select {
    border-color: #09c372;
}

.inputdivparent.error input {
    border-color: #ff3860;
}
.inputdivparent.error select {
    border-color: #ff3860;
}

.inputdivparent .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

/* upload photo field in the signup form */

.avatar-upload {
    position: relative;
    max-width: 205px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}

.avatar-upload .avatar-edit input {
    display: none;
}

.avatar-upload .avatar-preview {

    position: relative;
    border-radius: 100%;
    border: 6px solid #D2ECFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* input animation */


  @media (max-width: 1600px) {
    .inputsclass{
        width: 16rem;
        height: 3.5rem;
        border: 2px solid gray;
        outline: none;
        border-radius: 6px;
        font-size: 0.9rem;

    }
    
    .inputsclass:is(:focus, :valid){
        border: 2px solid #63a9ea;
        transition: 0.2s;
        box-shadow: 1.5px 1.5px 0.9px 0.9px rgba(180, 223, 255, 0.783);
        padding: 1rem;

    }
    .placeholderlabel{
        position: absolute;
        background-color: rgb(255, 255, 255);
        color: gray;
        left: 1rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
        margin-top: 0.2rem;
        transition: all 0.2s ease-in;
        font-size: 0.9rem;
        

    }
    .inputsclass:is(:focus, :valid) + .placeholderlabel {
        transform: translatey(calc(-1 * 0.8rem - 12px)) ;
        font-size: 0.9rem;
        color: #5eb1ff;
        font-weight: 400;
      }
    

    }
    
    /* Large screens (lg) */
    @media (max-width: 1025px) {
        .inputsclass{
            width: 14.5rem;
            height: 3.3rem;
            border: 2px solid gray;
            outline: none;
            border-radius: 6px;
            font-size: 0.9rem;

        }
        
        .inputsclass:is(:focus, :valid){
            box-shadow: 1.1px 1.1px 0.8px 0.8px rgba(180, 223, 255, 0.783);
            padding: 1rem;

        }
        .placeholderlabel{
            position: absolute;
            background-color: rgb(255, 255, 255);
            color: gray;
            left: 1rem;
            padding: 0.5rem 1rem 0.5rem 1rem;
            margin-top: 0.2rem;
            transition: all 0.2s ease-in;
            font-size: 0.9rem;

        }
        .inputsclass:is(:focus, :valid) + .placeholderlabel {
            transform: translatey(calc(-1 * 0.8rem - 12px)) ;
            font-size: 0.9rem;
            color: #5eb1ff;
            font-weight: 400;
          }
        
    }
    
    /* Medium screens (md) */
    @media (max-width: 790px) {
 

        .inputsclass{
            width: 14.5rem;
            height: 3rem;
            border: 2px solid gray;
            outline: none;
            border-radius: 6px;
            font-size: 0.8rem;

        }
        
        .inputsclass:is(:focus, :valid){
            box-shadow: 0.8px 0.8px 0.8px 0.8px rgba(180, 223, 255, 0.783);
            padding: 1rem;

        }
        .placeholderlabel{
            position: absolute;
            background-color: rgb(255, 255, 255);
            color: gray;
            left: 0.2rem;
            padding: 0.3rem 1rem 0.3rem 1rem;
            margin-top: 0.2rem;
            transition: all 0.2s ease-in;
            font-size: 0.8rem;

        }
        .inputsclass:is(:focus, :valid) + .placeholderlabel {
            transform: translatey(calc(-1 * 0.8rem - 4px)) ;
            font-size: 0.8rem;
            color: #5eb1ff;
            font-weight: 400;
          }

    }
  
  
    @media (max-width: 450px) {
        .inputsclass{
            width: 8.5rem;
            height: 3rem;
            border: 2px solid gray;
            outline: none;
            border-radius: 2px;
            font-size: 0.7rem;

        }
        
        .inputsclass:is(:focus, :valid){
            box-shadow: 1.2px 1.2px 0.7px 0.7px rgba(180, 223, 255, 0.783);
            padding: 1rem;

        }
        .placeholderlabel{
            position: absolute;
            background-color: rgb(255, 255, 255);
            color: gray;
            left: 0.2rem;
            padding: 0.3rem 1rem 0.3rem 1rem;
            margin-top: 0.2rem;
            transition: all 0.2s ease-in;
            font-size: 0.7rem;

        }
        .inputsclass:is(:focus, :valid) + .placeholderlabel {
            transform: translatey(calc(-1 * 0.8rem - 4px)) ;
            font-size: 0.7rem;
            color: #5eb1ff;
            font-weight: 400;
          }
    }



/* ToastBox notification */

#toastbox{
    position: absolute;
    margin-bottom: 5.5rem;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 15px;
    z-index: 1000;
}












@media (max-width: 1600px) {
    .toasts{
        width: 400px;
        height: 70px;
        background-color: #fff;
        font-weight: 500;
        margin: 15px 0;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        display: flex;
        align-items: center;
        position: fixed;
        z-index: 1000;
    }
    
    }
    
    /* Large screens (lg) */
    @media (max-width: 1025px) {
        .toasts{
            width: 380px;
            height: 70px;
            background-color: #fff;
            font-weight: 500;
            margin: 15px 0;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
            display: flex;
            align-items: center;
            position: fixed;
            z-index: 1000;
        }
        
    }
    
    /* Medium screens (md) */
    @media (max-width: 790px) {
        .toasts{
            width: 270px;
            height: 55px;
            background-color: #fff;
            font-weight: 500;
            margin: 15px 0;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
            display: flex;
            align-items: center;
            position: fixed;
            z-index: 1000;
            font-size: 0.7rem;

        }
        

    }
  
  
    @media (max-width: 450px) {
        .toasts{
            width: 250px;
            height:50px;
            background-color: #fff;
            font-weight: 500;
            margin: 15px 0;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
            display: flex;
            align-items: center;
            position: fixed;
            z-index: 1000;
            font-size: 0.6rem;
        }
    }














.toasts i{
    margin: 0 20px;
    font-size: 30px;
    color: green;
}
.toasts.error i{
    color: red;
}
.toasts.invalid i{
    color: orange;
}
.toasts::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: green;
    animation: anim 5s linear forwards;
}
@keyframes anim {
    100%{
        width: 0;
    }
}
.toasts.error::after{
    background: red;
}
.toasts.invalid::after{
    background: orange;
}








/* dania's css */

.serach-container{
    display: flex;
    align-items: center;
    justify-content: center;

}
#search-input{
    padding: 8px;
    border: 1px solid;
    border-radius: 20px; 
}
#search-button{
    margin-left: 8px;
    padding: 8px 16px;
    background-color: #8eb4dc;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 20%;
}
#search-button{
    background-color: #bbd1ee;
} 

.searchlogo{
    /* image 1 */

box-sizing: border-box;

position: absolute;
width: 50px;
height: 50px;

background: url(image.png);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}


